body{
  background: rgb(1, 22, 6);
  font-family:'Times New Roman', Times, serif;
  max-width: 900px;
  margin: auto;
}

#title, .subtitle, .post_title {
  color: rgb(18, 212, 73);
}

#title{
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

a{
  text-decoration: underline;
  color: rgb(18,212,73);
}

.photo{
  border: 3px solid rgb(101, 101, 103);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.post_title{
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

.post{
  background: #ccc;
  padding: 15px;
  border: 3px solid rgb(101, 101, 103);
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: justify;
}

.post_content{
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.post_image{
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
}

.contact_list{
  list-style-type: none;
  padding-left: 15px;
  margin: 0;
}

.contact_list li a{
  text-decoration: none;
}